{% macro aside(active) %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
        <a  href="/admin/index"  class="nav-link {% if active == 'home' %} active {% endif %} ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                首页
                <span class="right badge badge-danger">New</span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a  href="/admin/orders" class="nav-link {% if active == 'order' %} active {% endif %}" >
            <i class="nav-icon fas fa-book"></i>
            <p>
                订单管理
            </p>
        </a>
    </li>
</ul>
{% endmacro %}
