{% macro aside(active,open) %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
        <a  href="/admin/index"  class="nav-link {% if active == 'home' %} active {% endif %} ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                首页
                <span class="right badge badge-danger">New</span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a  href="/admin/users" class="nav-link {% if active == 'users' %} active {% endif %}" >
            <i class="nav-icon fas fa-book"></i>
            <p>
                用户列表
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a  href="/admin/error" class="nav-link {% if active == 'error' %} active {% endif %}" >
            <i class="nav-icon fas fa-book"></i>
            <p>
                抛出错误页
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a  href="/admin/chart" class="nav-link {% if active == 'chart' %} active {% endif %}" >
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
                图表ChartJS
            </p>
        </a>
    </li>
    <li class="nav-item has-treeview {% if open == 'elements' %} menu-open active {% endif %}" >
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
                UI Elements
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/admin/general"  class="nav-link {% if active == 'general' %} active {% endif %} ">
                    <i class="nav-icon far fa-circle text-blue"></i>
                    <p>General</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/buttons"  class="nav-link {% if active == 'buttons' %} active {% endif %} ">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p>Buttons</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/modals"  class="nav-link {% if active == 'modals' %} active {% endif %} ">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p>Modals & Alerts</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item has-treeview {% if open == 'forms' %} menu-open active {% endif %}" >
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
                Forms
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/admin/generalForm"  class="nav-link {% if active == 'generalForm' %} active {% endif %} ">
                    <i class="nav-icon far fa-circle text-blue"></i>
                    <p>General Form</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/advanced"  class="nav-link {% if active == 'advanced' %} active {% endif %} ">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p>Advanced</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/editors"  class="nav-link {% if active == 'editors' %} active {% endif %} ">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p>Editors</p>
                </a>
            </li>
        </ul>
    </li>

</ul>
{% endmacro %}
