<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="" />
	<meta name="description" content="overview &amp; stats"/>
	<link href="/public/css/all.min.css" rel="stylesheet"  />
	<link href="/public/css/toastr.min.css" rel="stylesheet"  />
	<link href="/public/css/ionicons.min.css" rel="stylesheet"  />
	<link href="/public/css/font.css" rel="stylesheet"  />
	<link rel="stylesheet" type="text/css" href="/public/css/admin.css" >
	<link rel="shortcut icon" href="/public/images/favicon.ico">
	<link href="/public/css/adminlte.min.css" rel="stylesheet"  />
	<script type="text/javascript" src="/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/public/js/adminlte.min.js"></script>
	<script type="text/javascript" src="/public/js/demo.js"></script>
	<script type="text/javascript" src="/public/js/toastr.min.js"></script>
</head>
<body class="hold-transition login-page">
<section class="content">
	<div class="error-page">
		<h2 class="headline text-danger">{{code}}</h2>

		<div class="error-content">
			<h3><i class="fas fa-exclamation-triangle text-danger"></i> 出现了错误.</h3>

			<p>
				工程师正在修复中，立即<a href="/">回到首页</a>
			</p>
			<p>
				{{error}}
			</p>
		</div>
	</div>
	<!-- /.error-page -->

</section>


</body>
</html>
